.jumbotron {
  border-bottom: 1px solid $grey-color-light;
  height: 100vh;
  background: url('../images/151.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.jumbotron .overlay {
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.jumbotron .page-title {
  position: absolute;
  background: red;
  padding: 10px;
  margin: 0;
  bottom: 50%;
  left: 46%;
  border-radius: 3px 3px 3px 3px;
}

.jumbotron .page-title h1 {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: 0;
}
