.jumbotron {
  border-bottom: 1px solid $grey-color-light;
  height: 100vh;
  padding: 0px !important;
  background: url('../images/151.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.jumbotron .overlay {
  height: 100%;
  background-color: rgba(0,0,0,0.7);
}

.jumbotron .page-title {
  position: absolute;
  width: 80%;
  bottom: 40vh;
  text-align: center
}
.jumbotron .page-title img {
  width: 35vh;
  height: auto;
  margin: 0 auto;
}
